.device-control-wrapper {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.device-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.device-container h1.text-center {
    color: #012970;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 2rem;
}

.device {
    border: 1px solid #dee2e6;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.device-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.device-header h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #dee2e6;
}

.device-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.device-status button {
    font-size: 0.80rem; /* Ukuran font diperkecil */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    padding: 0;
    line-height: 60px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.device-status .btn-inactive {
    background-color: #dc3545;
}

.device-status .btn-active {
    background-color: #28a745;
}

.device-status button:hover {
    transform: scale(1.1);
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    flex: 1;
    margin: 0 5px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.875rem;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger:hover {
    background-color: #c82333;
}

.dropdown-time {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-time select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}